CMakeCache.txt
tags
CMakeFiles
install_manifest.txt
Makefile
cmake_install.cmake
./build*
./.vs
/out/build/x64-Debug
/CMakeSettings.json
/out/build/x64-Release
*cache*
*orig*
compile_commands.json
./meshes/*.vtk
./meshes/*.vtu
meshes/*.vtk
meshes/*.vtu
meshes/d3d
meshes/Example_pym.smd
meshes/Example_pym.sms
meshes/Example_pym_hex.smd
meshes/Example_pym_hex.sms
meshes/Example_allType.smd
meshes/Example_allType.sms
meshes/Example_tet.osh/
meshes/Example_tet.smd
meshes/Example_tet.sms
meshes/Example_tet_wedge.smd
meshes/Example_tet_wedge.sms
meshes/Example_2tri_square.smd
meshes/Example_2tri_square.sms
meshes/Example_tri.osh/
meshes/Example_tri.smd
meshes/Example_tri.sms
meshes/Example_hex.smd
meshes/Example_hex.sms
meshes/Example_wedge.smd
meshes/Example_wedge.sms
meshes/adapt/
meshes/box3d_adapt.osh/
meshes/box_circleCut-3p5mil.osh/
meshes/box_circleCut-3p5mil_2p.osh/
meshes/plate_6elem_bField.osh/
meshes/wedge_matchZ_12elem_sync_2.osh/
meshes/wedge_matchZ_6elem.sms
meshes/wedge_matchZ_6elem_sync_2.osh/
*.swp
